<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="../../static/css/globalstyles.css" th:href="@{/css/globalstyles.css}">
    <link rel="stylesheet" href="../../static/css/mypage.css" th:href="@{/css/mypage.css}">
    <link rel="stylesheet" href="../../static/css/info_mypage.css" th:href="@{/css/info_mypage.css}">
    <script th:src="@{/js/deleteAccount_mypage.js}" defer></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/b669fcd44b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="header" th:replace="~{fragment/header :: top-menu}"></div>

        <div class="mypage-container">
            <div th:replace="~{fragment/sidebar :: sidebar-menu}"></div>

            <!-- ✅ 메인 컨텐츠 -->
            <div class="mypage-content">
                <h1>회원 탈퇴</h1>
                <div class="content-box">
                    <label for="pw">
                        <span class="labelName">비밀번호</span>
                        <input type="password" id="pw" class="password">
                        <div class="pwIconBox"></div>
                    </label>
            
                    <div class="footer">
                        <button class="changeInfoBtn" disabled>회원 탈퇴</button>
                    </div>
                </div>
            </div>
            
            <!-- 모달 창 -->
            <div class="modal" id="myModal">
                <div class="modal-content">
                    <span class="close" id="closeModal">&times;</span>
                    <h2>알림</h2>
                    <p>정말 회원 탈퇴를 하시겠습니까?</p>
                    <button id="modalButton">확인</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
