<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="../../static/css/globalstyles.css" th:href="@{/css/globalstyles.css}">
    <link rel="stylesheet" href="../../static/css/mypage.css" th:href="@{/css/mypage.css}">
    <link rel="stylesheet" href="../../static/css/info_mypage.css" th:href="@{/css/info_mypage.css}">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/b669fcd44b.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/info_mypage.js}" defer></script>

</head>
<body>
    <div class="container">
        <div class="header" th:replace="/fragment/header :: top-menu"></div>

        <div class="mypage-container">
            <div th:replace="/fragment/sidebar :: sidebar-menu"></div>

            <!-- ✅ 메인 컨텐츠 -->
            <div class="mypage-content">
                <h1>내 정보 관리</h1>
                <div class="content-box">
                    <div class="myInfo">
                        <label for="id">
                            <span class="labelName">아이디</span>
                            <input type="text" id="id" th:value="${user.userId}" disabled>
                        </label>

                        <label for="nickName">
                            <span class="labelName">닉네임</span>
                            <input type="text" id="nickName" th:value="${user.userName}">
                        </label>
                        <p id="nickNameLengthMessage">닉네임은 2~11자 사이로 입력해주세요.</p>

                        <label for="pw">
                            <span class="labelName">비밀번호</span>
                            <input type="password" id="pw" class="password">
                            <div class="pwIconBox"></div>

                            <button class="change-pw-btn" disabled>변경하기</button>
                        </label>

                       <div class="new-password-section">
                            <label for="newPW">
                                <span class="labelName">새로운 비밀번호</span>
                                <input type="password" id="newPW" placeholder="새 비밀번호 입력" />
                            </label>
							<p id="passwordLengthMessage">비밀번호는 8~20자 사이로 입력해주세요.</p>
                            <label for="newPWCheck">
                                <span class="labelName"> 비밀번호 확인</span>
                                <input type="password" id="newPWCheck" placeholder="비밀번호 확인" />
                            </label>
                        </div>

                        <!-- 이메일 인증하면 인증버튼 생성 필요 -->
                        <label for="email">
                            <span class="labelName">이메일</span>
                            <input type="email" id="email" th:value="${user.userEmail}" disabled>
                        </label>
                    </div>

                    <div class="footer">
                        <button class="changeInfoBtn" disabled >정보 변경</button>
                    </div>
                </div>
            </div>

            <!-- 모달 창 -->
            <div class="modal" id="myModal">
                <div class="modal-content">
                    <span class="close" id="closeModal">&times;</span>
                    <h2>알림</h2>
                    <p>정보변경 완료</p>
                    <button id="modalButton">확인</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
