<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="../../static/css/globalstyles.css" th:href="@{/css/globalstyles.css}">
    <link rel="stylesheet" href="../../static/css/mypage.css" th:href="@{/css/mypage.css}">
    <link rel="stylesheet" href="../../static/css/myBoard_mypage.css"  th:href="@{/css/myBoard_mypage.css}">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/b669fcd44b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <!-- ✅ 상단 네비게이션 -->
        <div class="container" th:replace="fragment/header :: top-menu"></div>

        <div class="mypage-container">
            <!-- ✅ 마우스 오버 시 확장되는 사이드바 -->
            <div class="sidebar">
                <ul>
                    <li><a th:href="@{/recipeSave_mypage.html}"><span>📂</span> 내가 저장한 기록</a></li>
                    <li><a th:href="@{/myBoard_mypage.html}"><span>📝</span> 내가 쓴 게시물</a></li>
                    <li><a th:href="@{/reply_mypage.html}"><span>💬</span> 내가 쓴 댓글</a></li>
                    <li><a th:href="@{/likedBoard_mypage.html}"><span>❤️</span> 공감한 게시물</a></li>
                    <li><a th:href="@{/info_mypage.html}"><span>🔑</span> 내 정보 관리</a></li>
                    <li><a th:href="@{/deleteAccount_mypage.html}"><span>⚙️</span> 회원 탈퇴</a></li>
                </ul>
            </div>

            <!-- ✅ 메인 컨텐츠 -->
            <div class="mypage-content">
                <div class="gallery">
                    <div class="gallery-item">
                        <a class="gallery-link" href="#">
                            <div class="gallery-img-wrapper">
                                <img src="https://semie.cooking/image/contents/recipe/px/rh/jaowrvzg/IRD/143210130axpn.jpg" alt="레시피">
                            </div>
                                <div class="gallery-text">
                                <h4>맛있는 파스타 만들기</h4>
                                <p>간단하게 만들 수 있는 크림 파스타 레시피</p>
                                <span>❤️ 124</span>
                            </div>
                        </a>
                    </div>
                
                    <div class="gallery-item">
                        <a class="gallery-link" href="#">
                            <img src="https://recipe1.ezmember.co.kr/cache/recipe/2023/08/26/41eb2344b4e6a719c209ca55ed91c3f31.jpg"
                                alt="레시피">
                            <div class="gallery-text">
                                <h4>자취생을 위한 초간단 김치볶음밥</h4>
                                <p>10분이면 충분한 초스피드 요리</p>
                                <span>❤️ 89</span>
                            </div>
                        </a>
                
                    </div>
                
                    <div class="gallery-item">
                        <a class="gallery-link" href="#">
                            <img src="https://recipe1.ezmember.co.kr/cache/recipe/2023/07/06/6d636a7976e5afb6d0050d167eb39fe01.jpg"
                                alt="레시피">
                            <div class="gallery-text">
                                <h4>엄마 손맛 된장찌개</h4>
                                <p>진한 국물이 일품인 집밥 레시피</p>
                                <span>❤️ 200</span>
                            </div>
                        </a>
                    </div>
                
                    <div class="gallery-item">
                        <a class="gallery-link" href="#">
                            <img src="https://image.ytn.co.kr/general/jpg/2021/1102/202111020854337568_d.jpg" alt="레시피">
                            <div class="gallery-text">
                                <h4>초간단 디저트, 오레오 티라미수</h4>
                                <p>3가지 재료만 있으면 OK!</p>
                                <span>❤️ 56</span>
                            </div>
                        </a>
                    </div>            
                </div>

                <div class="show-more">
                    <button class="show-more-btn">
                        <i class="fa-solid fa-angles-down"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
