<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="../../static/css/globalstyles.css" th:href="@{/css/globalstyles.css}">
    <link rel="stylesheet" href="../../static/css/mypage.css" th:href="@{/css/mypage.css}">
    <link rel="stylesheet" href="../../static/css/myBoard_mypage.css" th:href="@{/css/myBoard_mypage.css}">
    <script th:src="@{/js/myBoard_mypage.js}" defer></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/b669fcd44b.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <div class="header" th:replace="/fragment/header :: top-menu"></div>

        <div class="mypage-container">
            <div th:replace="/fragment/sidebar :: sidebar-menu"></div>

            <!-- ✅ 메인 컨텐츠 -->
            <div class="mypage-content">
                <div class="gallery">
                    <div th:each="board : ${myBoard}" class="gallery-item">
                        <a class="gallery-link" href="#">
                            <div class="img-wrapper">
                                <img th:src="@{${board.originalFileName}}" alt="게시물 이미지" />
                            </div>
                            <div class="gallery-text">
                                <h4 th:text="${board.boardTitle}"></h4>
                                <p th:text="${board.boardContent}"></p>
                                <span th:text="'❤️ ' + ${board.heartCount}"></span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="show-more">
                    <button class="show-more-btn">
                        <i class="fa-solid fa-angles-down"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
