<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet"  th:href="@{/css/globalstyles.css}">
    <link rel="stylesheet"  th:href="@{/css/mypage.css}">
    <link rel="stylesheet"  th:href="@{/css/recipeSave_mypage.css}">
    <script th:src="@{/js/recipeSave_mypage.js}" defer></script>

</head>

<body>
    <div class="container">
        <div class="header" th:replace="~{fragment/header :: top-menu}"></div>

        <div class="mypage-container">
            <div th:replace="~{fragment/sidebar :: sidebar-menu}"></div>

            <!-- ✅ 메인 컨텐츠 -->
            <div class="mypage-content">
                <h1>레시피 저장 리스트</h1>
                <div class="recipe-list">
                    <ul>
                        <li th:each="recipe : ${recipes}">
                            <a href="#" class="recipe-item" th:data-recipe-id="${recipe.id}" th:data-recipe-output="${recipe.outputHTML}">
                                <span class="recipe-name" th:text="${recipe.title}">레시피 이름</span>
                                <div>
                                    <span class="option" th:each="tag : ${recipe.inputKeywords}" th:text="${tag}">카테고리</span>
                                    <span class="date" th:text="${#temporals.format(recipe.createdDateTime, 'yyyy-MM-dd')}">2025-02-12</span>
                                </div>
                            </a>
                        </li>

                        <th:block th:if="${recipes.size() == 0}">
                            <p>레시피가 없습니다.</p>
                        </th:block>

                    </ul>
                </div>

                <div id="recipeModal" class="recipe-modal">
                    <div class="modal-content">
                        <span class="close-btn">&times;</span>
                        <div class="recipe-card">
                            <div class="recipe-info">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>