<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>갤러리형 게시판</title>
        <link rel="stylesheet" href="../../static/css/globalstyles.css" th:href="@{/css/globalstyles.css}" />
        <link rel="stylesheet" href="../../static/css/board.css" th:href="@{/css/board.css}"/>
	
		<!-- jquery -->        
    	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
        <!-- board.js -->
		<script defer th:src="@{/js/board.js}"></script>
    </head>
    <body>
        <div class="container">
            <div class="header" th:replace="~{fragment/header :: top-menu}"></div>

            <!-- 🔍 서치바 추가 -->
            <div class="searchWrap">
	            <div class="search-bar">
	                <div class="search-ai">
	                    <span>✨ AI</span>
	                </div>
	                <input type="text" placeholder="검색어를 입력하세요" />
	                <button class="search-btn">▶</button>
	            </div>
            	<div>
		        	<a th:href="@{/board/boardWrite}" class="write-btn">글쓰기</a>
		        </div>
			</div>
			
            <div class="gallery recentPost">
    			<!-- AJAX로 동적으로 게시글 추가 -->
			</div>
            
            <div class="show-more">
                <button id="show-more-button">
                    <img src="../../static/image/down-arrow.png" th:src="@{/image/down-arrow.png}" alt="더보기" />
                </button>
            </div>
        </div>
    </body>
</html>
