<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기</title>
    
</head>
<body>
    <div class="content">
        <form th:action="@{/board/boardWrite}" method="POST" enctype="multipart/form-data">
            <table>
                <tr>
                    <th>제목</th>
                    <td>
                        <input type="text" id="boardTitle" name="boardTitle" placeholder="제목을 입력하세요" required>
                    </td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td>
                        <input type="text" id="boardWriter" name="boardWriter" th:value="${#authentication.name}" readonly>
                    </td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td>
                        <textarea name="boardContent" id="boardContent" cols="50" rows="20" placeholder="게시글을 입력하세요" required></textarea>
                    </td>
                </tr>
                <tr>
                    <th>첨부파일</th>
                    <td>
                        <input type="file" name="uploadFile">
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        <input type="submit" value="글등록" class="btn btn-primary"> &nbsp;
                        <input type="reset" value="초기화" class="btn btn-danger">
                    </th>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>