<div class="sidebar" th:fragment="sidebar-menu">
    <ul>
        <li><a th:href="@{/mypage/recipeSave}"><span>📂</span> 내가 저장한 기록</a></li>
        <li><a th:href="@{/mypage/myBoard}"><span>📝</span> 내가 쓴 게시물</a></li>
        <li><a th:href="@{/mypage/reply}"><span>💬</span> 내가 쓴 댓글</a></li>
        <li><a th:href="@{/mypage/likedBoard}"><span>❤️</span> 공감한 게시물</a></li>
        <li><a th:href="@{/mypage/info}"><span>🔑</span> 내 정보 관리</a></li>
        <li><a th:href="@{/mypage/deleteAccount}"><span>⚙️</span> 회원 탈퇴</a></li>
    </ul>
</div>
