<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 외부 API를 사용하기 위한 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.16.0/dist/sweetalert2.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.16.0/dist/sweetalert2.all.min.js"></script>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script defer th:src="@{/js/idSearch.js}"></script>
</head>
<body>
    <form id="findForm" th:action="@{/user/find-id}" method="post">
        <div class="form-group">
            <input type="email" name="userEmail" id="userEmail" placeholder="이메일">
        </div>
        <button type="submit" id="id-find">아이디 찾기</button>
    </form>
</body>
</html>