<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기 페이지지</title>
    <link rel="stylesheet" href="../../static/css/globalstyles.css" th:href="@{/css/globalstyles.css}">
    <link rel="stylesheet" href="../../static/css/mypage.css" th:href="@{/css/mypage.css}">
    <link rel="stylesheet" href="../../static/css/findAccount.css" th:href="@{/css/findAccount.css}">
        <!-- 외부 API를 사용하기 위한 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.16.0/dist/sweetalert2.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.16.0/dist/sweetalert2.all.min.js"></script>
    <script defer th:src="@{/js/passwordSearch.js}"></script>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body>
    <div class="container">
        <div class="header" th:replace="~{fragment/header :: top-menu}"></div>
    
        <div class="find-account">
            <div class="find-account-container">
                <ul class="find-account-Menu">
                    <li><a th:href="@{/user/idSearch}" class="menu-item">아이디 찾기</a></li>
                    <li><a th:href="@{/user/passwordSearch}" class="menu-item checked">비밀번호 찾기</a></li>
                </ul>

                <form id="findForm" th:action="@{/user/find-password}" method="post">
                    <label>아이디:
                        <input type="text" name="userId" id="userId" class="input-field" placeholder="아이디">
                    </label>
                    <label>이메일:
                        <input type="email" name="userEmail" id="userEmail" class="input-field" placeholder="이메일">
                    </label>
                    <button type="submit" id="password-find" class="findBtn">비밀번호 찾기</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>