.reply-list ul {
    list-style: none;
    padding: 0;
}

.reply-item{
    display: flex;
    align-items: center;
    width: 100%;
}

.reply-list li{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2.5px;
    margin-bottom: 8px;
    transition: all ease-in 250ms;
}

.reply-list li:hover {
    background-color: #00000007;
}

.recipe-name {
    width: 15%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 2px;
    margin-right: 6px;
    font-weight: 700;
    border-right: 2px solid #ccc;
    text-align: center;
}

.reply-content {
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 2px;
}

.date {
    width: 10%;
    font-size: 14px;
    margin: 0 10px;
    text-align: right;
}

.noReply {
    color: #333;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 4px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a:hover {
    /* background-color: #007bff; */
    background-color: #fdcc9f;
    color: white;
}

.pagination a.active {
    /* background-color: #007bff; */
    background-color: #fa9535;
    color: white;
    font-weight: bold;
}